body {
/*  background-color: salmon;
*/
  background-image: url("lounge.jpg");
  font-family: 'Playfair Display', serif;
}

table {
  margin: 0 auto;
  width: 600px;
  height: 450px;
  background-color: white;
  text-align: center;
}

/*td {
  height: 75px;
  width: 16.66%;
  background-color: #ff3399;
}*/

#title-area {
  height: 150px;
  width: 100%;
  background-color: navy;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: gold;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  line-height: 150px;
}

#instructions {
  height: 150px;
  width: 590px;
  background-color: gold;
  margin: 0 auto;
  color: navy;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

.default {
  height: 75px;
  width: 16.66%;
  background-color: blue;
}

.default img {
  width: 100%;
  height: auto;
  opacity: 0;
}

.default:hover {
  background-color: #28004d;
}

.matched {
  height: 75px;
  width: 16.66%;
  background-color: black;
}

.matched img {
  width: 100%;
  height: auto;
  opacity: 1;
}

.selected {
  height: 75px;
  width: 16.66%;
  background-color: #666699;
}

.selected img {
  width: 100%;
  height: auto;
  opacity: 0.8;
}

#switch {
  width: 100px;
  height: 30px;
  display: block;
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;
}

/*#intro-area {
  width: 100px;
  height: 100px;
  background-color: gold;
  margin-top: 30px;
  font-weight: bold;
}*/